<div id="contactContainer">
    <form class="contactClass" name="contactForm">
        <div class="row">
            <div class="col-md-2" id="hotelInput">
                <label>Name</label>
                <input type="text" name="origin">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" id="hotelInput">
                <label>Email</label>
                <br>
                <input type="text" name="origin">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" id="hotelInput">
                <label>Subject</label>
                <br>
                <input type="text" name="origin">
            </div>
        </div>
        <div class="row" id="commentColumn">
            <div class="col-md-2" id="hotelInput">
                <label>Message</label>
                <br>
                <textarea id="comment" name="comment">Leave Message Here</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <br>
                <button type="search" class="btn btn-success">Send Message</button>
            </div>
        </div>
    </form>
</div>