<div class="row">
    <div style="height: 700px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides2 track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" ng-click="console.log(slide.id)">
                <div class="carousel-caption">
                    <p>coldasdfasdfasdfasdfasdf asdf as df asd f asdf
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>