<div class="row">
    <div style="height: 700px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h1 class="article__title wow fadeInDown" style="visibility: visible; animation-name: xb;">EXPLORE MIDDLE-EARTH</h1>

                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/minas2.jpg" alt="minas">
            <div class="caption">
                <h3>The Shire</h3>
                <p>The Shire is described as a small but beautiful, idyllic and fruitful land, beloved by its inhabitants. The Hobbits had an extensive agricultural system in the Shire but were not industrialised. The landscape included small pockets of forest (again similar to the English countryside). Various supplies were produced in the Shire, including cereals, fruit, wood and pipe-weed.</p>
                <p><a href="#" class="btn btn-primary" role="button">Book a Flight</a> <a href="#" class="btn btn-default" role="button">Book a Hotel</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-3">
        <div class="thumbnail">
            <img src="/images/minas2.jpg" alt="minas">
            <div class="caption">
                <h3>Rivendell</h3>
                <p>Rivendell was located in eastern Eriador at the edge of a narrow gorge of the river Bruinen (one of the main approaches to Rivendell comes from a nearby ford of Bruinen), but well hidden in the moorlands and foothills of the Hithaeglir or Misty Mountains. The climate was cool-temperate and semi-continental with moderately warm summers, fairly snowy — but not frigid — winters and moderate precipitation. Seasons were more pronounced than in areas further west, such as the Shire, but less extreme than the places east of the Misty Mountains. Like Hobbiton, it is located at about the same latitude as Tolkien's hometown Oxford.</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-3">
        <div class="thumbnail">
            <img src="/images/minas2.jpg" alt="minas">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-3">
        <div class="thumbnail">
            <img src="/images/minas2.jpg" alt="minas">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>