<!doctype html>
<html>

<head>
    <title>Tolkien Travels</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
</head>

<body ng-app="travelApp">
    <navigation-page></navigation-page>

</body>
    
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/scripts/travel.js"></script>
    <script type="text/javascript" src="/scripts/controller/travelCtrl.js"></script>
    <script type="text/javascript" src="/scripts/directives/navigationPage.js"></script>
    <script type="text/javascript" src="/scripts/directives/aboutPage.js"></script>
    <script type="text/javascript" src="/scripts/directives/contactPage.js"></script>
    <script type="text/javascript" src="/scripts/directives/destinationsPage.js"></script>
    <script type="text/javascript" src="/scripts/directives/reservationsPage.js"></script>
    <script type="text/javascript" src="/scripts/directives/homePage.js"></script>
    <script type="text/javascript" src="/scripts/services/travelService.js"></script>
    

</html>